@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    padding: 0;
    margin: 0;
    /* variables */
    --primary-color: #3f67f3;
    /* scroll bar */
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #fff;
}

@layer base {
    body {
        font-family: sans-serif;
    }
    /* TITLES */
    h1 { @apply text-2xl font-bold ; }
    h2 { @apply text-xl font-bold ; }
    h3 { @apply text-lg font-bold ; }
    h4 { @apply text-base font-bold ; }
    h5 { @apply text-sm font-bold ; }
    h6 { @apply text-xs font-bold ; }
    /* INPUTS */
    input, select, textarea {
        @apply border p-3 rounded-lg text-lg bg-gray-600/70;
    }
}

@layer utilities {
    .container {
        @apply mx-auto;
    }
}

@layer components {
    .btn-primary-rounded {
        @apply bg-primary text-white text-base rounded-xl w-fit px-3 py-1;
    }
}

/* HEADER */
header {
    position: relative;
    @apply bg-[#fdf7ec];
    &::after {
        content: '';
        @apply absolute w-full h-full blur -z-10 ;
    }
}

.navbar {
    ul > li a {
        @apply font-bold text-lg;
        &:hover {
            @apply text-primary transition duration-100;
        };
        
        &.active {
            @apply text-primary;
        }
    }
}

/* ADS SECTIONS */
.ads-phone {
    @apply relative;
    &::before {
        content: '';
        @apply absolute w-full h-[80%] bg-primary rounded-2xl -rotate-12 -z-10 top-[20%];
    }
}

/* FOOTER */
footer, #contact-form, .ads-container {
    @apply relative bg-black/20 overflow-hidden;

    &::before {
        content: '';
        @apply absolute -z-10 inset-0;
        background: url("/assets/images/footer_bg.png") no-repeat center;
        background-size: cover;
    }
}

footer .links a {
    @apply rounded-full border border-white p-1;
}